<h2>Editar Nota</h2>

<form action="/api/editar/{{nome}}" method="POST" id="meuFormEditar">
    <label>Nome:</label>
    <input type="text" name="nome" required value="{{nome}}" readonly> 

    <label>Nota 1:</label>
    <input type="number" step="0.1" name="nota1" value="{{nota1}}">

    <label>Nota 2:</label>
    <input type="number" step="0.1" name="nota2" value="{{nota2}}">

    <label>Nota 3:</label>
    <input type="number" step="0.1" name="nota3" value="{{nota3}}">

    <button type="submit" >Salvar</button>
</form>

<br>
<a href="/">Voltar</a>